<div class="container mt-5 shadow p-3">
  <h3>Mis restaurantes</h3>
  <%= link_to "Agregar", new_restaurant_path, class: "btn btn-primary btn-sm", data: {turbo_frame: "new_restaurant"} %>
  <%= turbo_frame_tag "new_restaurant"%> 
  <hr>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Photo</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Created At</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @restaurants.each do |restaurant| %>
    <tr>
      <%= turbo_frame_tag "restaurants" %>
      <%= turbo_frame_tag "restaurants" do %>
        <%= render "restaurant", restaurant: restaurant %>
      <% end %>
      <td>
        <%= link_to restaurant_path(restaurant.id), class: "text-decoration-none" do %>
          <i class="fa-solid fa-eye"></i>
        <% end %> | 
        <%= link_to edit_restaurant_path(restaurant.id), class: "text-warning text-decoration-none" do %> 
          <i class="fa-solid fa-pencil"></i>
        <% end %>
        | 
        <%= link_to restaurant_path(restaurant.id), class: "text-danger text-decoration-none" do %>
          <i class="fa-solid fa-trash-can"></i>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>